html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0; /* убираем контуры */
font-size: 100%;
vertical-align: baseline;
background: transparent;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: ''; /* убираем */
content: none; /* и скрываем генерируемое содержимое */
}
:focus {
outline: 0;
}
ins {
text-decoration: none;
}
del {
text-decoration: line-through;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
.clear {
	clear: both;
	height: 0px;
	font-size: 1px;
	line-height: 0;
	overflow: hidden;
}
body {
behavior:url(csshover.htc);
}

html{ width:100%; height:100%;}
body{
     margin:0 auto;
	 width:720px;
	 color: #000;
	 background:#fff;
	 font: .83em/1.5 arial,sans-serif
}
ul{list-style: none;}
img{border:0;}

/* HEADER */
#header{
     margin:12px 0 0px 0;
}
#logo{
     margin:0px 0 10px 0;
}
.phone{
     float:right;
	 background: url(../img/phone.gif) top left no-repeat;
	 display:block;
	 height:15px;
	 padding:3px 0 0 17px;
}
h1{
     font-size:1.23em;
	 margin:0 0 10px 0;
}
.head_abz{
    margin:5px 0 15px 0;
}
/* CONTENT */
#content{zoom:1;
     border:1px solid #d3d3d3;
}
.bleezona{
     height:31px;
	 border-bottom:1px solid #d3d3d3;
	 background:#d6e3f8;
	 position:relative;
}
.blzugolleft, .blzugolright{
     position:absolute;
	 top:-1px;
	 width:5px;
	 height:5px;
}
.blzugolleft{
     left:-1px;
	 background: url(../img/ugl.gif) top left no-repeat;
}
.blzugolright{
     right:-1px;
	 background: url(../img/ugr.gif) top left no-repeat;
}

#cont_left{
     float:left;
	 /*width:490px;*/
	 /*padding-left:10px;
	 padding-top:10px;*/
}
.relative{
	 position:relative;
	 margin:0 10px 10px 10px;
}
.lt, .rt, .rb, .lb{
     position:absolute;
	 width:9px;
	 height:9px;
}
.lt{
     top:0;
	 left:0;
	 background: url(../img/lt.png) top left no-repeat;
}
.rt{
     top:0;
	 right:0;
	 background: url(../img/rt.png) top left no-repeat;
}
.rb{
     bottom:0!important;
	 bottom:-6px;
	 right:0;
	 background: url(../img/rb.png) top left no-repeat;
}
.lb{
     bottom:0!important;
	 bottom:-6px;
	 left:0;
	 background: url(../img/lb.png) top left no-repeat;
}
#nav_left{
     background:#f0efef;
	 border:1px solid #d3d3d3;
	 padding:10px 0 10px 0px;
	 height:319px;
	 overflow: auto;
}
     #nav_left li{
     	text-align: left;
	 }
	 #nav_left li.svetl{background:#f9f9f9;}
	     #nav_left li a{
		     display: block;
			 padding:8px 4px 0 10px;
		     color:#000;
			 text-decoration:none;
		 }
		     #nav_left li div{display: none;}
				     #nav_left li div a{
					     text-decoration:underline;
						 font-size:11px;
					 }
     <!--#nav_left li:hover .block{display: block;}-->

.snoska{
     color:#999999;
	 font-size:10px;
	 padding:0 10px 5px 10px;
}
.ot_do{
     color:#9e9e9e;
     padding:0 10px 5px 10px;
	 /*margin:0 10px 10px 10px;*/
	 /*background: url(../img/stolb.gif) bottom left no-repeat;*/
	 text-align: left;
}
.left_capt{
	padding:0 10px 0px 10px;
	text-align: left;
}

.ot_do span{
	font-weight:bold;
}

.bord_top{
     border-top:1px solid #d3d3d3;
	 padding-top:10px;
}
#f4{
     margin:0 10px 10px 10px;
	 width:220px;
}

#cont_right{
     float:left;
	 padding:0 0;
	 width:236px;
	 text-align:center;
	 border-left:1px solid #d3d3d3;
}

#ytapiplayer{
     margin: 0;
     padding: 0;
     width:471px;
	 height:290px;
}

#_audio_name a {
	color: #8d8d8d
}

#map{
     margin: 0;
     padding: 0;
     width:480px;
}

/* FOOTER */
#foot{
	text-align:center;
}

.statTable td{
	padding: 2px;
}