* {
	font-family: Tahoma,Arial;
	padding: 0;
	margin: 0;
}

body {
	padding: 10px;
}

table.cities {
	margin-top: 10px;
	width: 300px;
	font: bold 14px Arial;
}
table.cities td {
	padding: 0 10px;
	height: 24px;
	vertical-align: middle;
}
table.cities td.first {
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
}
table.cities td.last {
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
}
table.cities td.clr {
	background-color: #ececec;
}
table.cities div {
	width: 100%;
	background: url(images/word_underpoint.gif) bottom repeat-x;
}
table.cities a {
	display: inline-block;
	padding-right: 20px;
	background-color: white;
	color: black;
	text-decoration: none;
}
table.cities a.active {
	color: #ff9900;
}
table.cities a.clr {
	background-color: #ececec;
}

div.annotations {
	font-size: 10px;
}
div.annotations div {
	margin-top: 10px;
	line-height:34px;
	comment__height: 34px;
	vertical-align: middle;
}

div#city_descr {
	font-size: 0.81em;
	line-height: 1.5;
}

h3 {
	font-size: 1em;
	font-family: arial;
}

div#tabs {
	margin-top: 10px;
}

.tablib_table td {
	font-weight: bold;
	color: #4bacc6;
	text-decoration: underline;
}

.tablib_selected {
	font-size: 14px;
}

.tablib_unselected {
	font-size: 12px;
}

.city_list_item {
	font-size: 12px;
	margin: 10px 0 0 0;
}

.city_list_item div.item_body {
	margin-left: 15px;
}

.tab_content {
	padding-top: 5px;
}